<h2 style="color: floralwhite;"> Login </h2>



<form action="/process-login" method="POST">






<div class="form-floating mb-3"> 
 <label> Email: 
        <input type="email" name="email" class="form-control" id="floatingPassword" placeholder="Email Here" required />
    </label>

    <br>

    <label> Password: 
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required />
    </label>

    <br>
    
    <button type="submit"> Login </button>

</form>
</div>
   

{{#if errorMessage}}
    <p><b> {{ errorMessage }} </b></p>
{{/if}}