<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>
   <!-- add the navbar code below -->
    

   <body>

      <nav>
         <ul>

         <li id="to-left">
          <p><a href="/"> HOME </a></p>
        </li>
         {{#if userInSession}}
            <a href="/profile"> Profile </a> <br>
            <form action="/logout" method="POST"> <br>
               <button> Logout </button>
            </form>  
         {{else}}
            <a href="/signup"> Create an account </a> <br>
             <br>
            <a href="/login"> Login </a> <br>
         {{/if}}
         <br>



      

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>