<div id="original-cocktail">


<h2> Create a drink 🥂 </h2>
{{!-- adds drink to the list --}}
<form action="/cocktailSearch" method="POST">

    <label>
        Title: <input type="text" name="title" />
    <label>

    <br>

    <label>
        glass <input type="text" name="glass" />
    <label>

    <br>

    <label>
           liquor :<input type="text" name="liquor" />
       
    <label>

    <br>

    <label>
        instructions:  <textarea name="instructions" cols="30" rows="4"> </textarea>
        
    <label>
        <label>


            {{#each cocktailFromDB}}
                <option value={{ _id }}> {{firstName}} {{lastName}} </option>
            {{/each}}
        </select>
    <label>

    <br>

    <button> <a href="/profile"> </a>Save</button>
</form>

</div>