<div id="original-cocktail">


<h2> Create a drink 🥂 </h2>
{{!-- adds drink to the list --}}
<form action="/cocktailSearch" method="POST">
<li>
    <label>
        Title: <input type="text" name="title" />
    <label>
</li>
  <br>
  <li><label>
        glass <input type="text" name="glass" />
    <label>
</li>
<br>
<li><label>
           liquor :<input type="text" name="liquor" />
       
    <label></li>
    <br>
    <li><label>
        instructions:  <textarea name="instructions" cols="30" rows="4"> </textarea>
        
    <label></li>
    
        <label>
            {{#each cocktailFromDB}}
                <option value={{ _id }}> {{firstName}} {{lastName}} </option>
            {{/each}}
        </select>
    <label>

  </li>
  <br>
<button> <a href="/profile"> </a>Save</button>
</form>

</div>
