body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
  background-image: url("https://wallpapercave.com/wp/wp1989394.jpg") ;
}
h1{
  justify-content: center;
}
a {
  color: #00b7ff;
}
 

#random{
  text-align: center;
  /* font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px; */
}

.imgdrink{
  text-align: center;
  
}


#profile {
  color: rgb(185, 14, 14);
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0c78e3;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid white;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
}
.btn-outline-success {
  color: #fcfcfc;
  background-color: #0c78e3;
  border-color: whitesmoke);
}
  .btn-outline-success:hover {
    color: #00b7ff;
    background-color: #fcfcfc;
    border-color: whitesmoke;
}
