body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  background-image: url("https://wallpapercave.com/wp/wp1989394.jpg") ;
}
h1{
  justify-content: center;
}
a {
  color: #00b7ff;
}
 

#random{
  text-align: center;
  /* font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px; */
}

.imgdrink{
  text-align: center;
  
}


#profile {
  color: rgb(185, 14, 14);
}