{{#if userInSession}}
    <h3>Welcome, {{ userInSession.username }}</h3>

    <button> <a href="/profile"> Reload! </a></button>

{{else}}

    <p> Welcome bartenders </p>

{{/if}}

{{#if errorMessage}}
    <p><b> {{ errorMessage }} </b></p>
{{/if}}