{{#if userInSession}}
    <h3>Welcome, {{ userInSession.username }}</h3>

    <button> <a href="/profile"> Reload! </a></button>

{{else}}

    <h1> Welcome bartenders </h1>
 <p>Welcome we are wonderful that you can be apart of the mix</p>
{{/if}}

{{#if errorMessage}}
    <p><b> {{ errorMessage }} </b></p>
{{/if}}